.book-cover {
    height: 500px;
    object-fit: cover;
}
  
.book-cover {
    height: 500px;
    object-fit: cover;
}
  
#profile-info img {
    object-fit: cover;
}
  
.badge.bg-secondary {
    font-size: 0.9rem;
    padding: 0.5em 0.75em;
}
  
.btn-outline-dark {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    border: 2px solid #343a40;
    color: #343a40;            
    background-color: transparent;
}
  
.btn-outline-dark:hover {
    background-color: #343a40;
    color: #fff;                  
    transform: translateY(-3px);
}
  
.btn-dark {
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1rem;
    background-color: #343a40;
    color: white;
    border: none;
    transition: all 0.3s ease;
}
  
.btn-dark:hover {
    background-color: #495057;
    transform: translateY(-3px);
}

.truncate-2-lines {
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;                    
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-dark.remove-btn {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 1rem;
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#favoriteGenre {
    margin-left: 10px;
}

.btnGenre {
    padding: 8px;
    border-radius: 3px;
    height: 30px;
}

.btnGenre.text {
    text-align: center;
}

.favorite-genre {
    font-size: 0.95rem;
    background-color: #f1f1f1;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    color: #343a40;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.genre {
    color: #343a40;
}